<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268169388324-h0i7nka2qtvlsjblvebd96bu0m43akpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268169388324-h0i7nka2qtvlsjblvebd96bu0m43akpd</string>
	<key>API_KEY</key>
	<string>AIzaSyBxRPYwittjdJ0AaY84p8tPmFkq_9RsWtk</string>
	<key>GCM_SENDER_ID</key>
	<string>268169388324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.ey.We</string>
	<key>PROJECT_ID</key>
	<string>wematch-c1147</string>
	<key>STORAGE_BUCKET</key>
	<string>wematch-c1147.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268169388324:ios:0e47b5662df483ca0153b1</string>
</dict>
</plist>